@page
@model BankVictor.Pages.Customers.CustomerSearchModel
@{
    
}
<h2>Customer List</h2>

@*Search*@
<form method="get" class="form-inline custom-search-form mb-3">
    <div class="form-group">
        <input asp-for="@Model.Q" class="form-control custom-search-input mr-2" placeholder="Sök kund..." />
        <input type="hidden" asp-for="@Model.AllCustomers" />
    </div>
    <input type="submit" value="Sök" class="btn btn-primary ml-2" />
</form>



@if (Model.AllCustomers != null && Model.AllCustomers.Count > 0)
{
    <div class="data-table">
        <h3>Page @Model.CurrentPage</h3>

        <table>
            <thead>
                <tr>
                    <th class="header">
                        <p class="header-text">
                            ID

                        </p>
                        <div class="header-sortingbuttons">
                            <a asp-page="/Customers/CustomerSearch"
                               asp-route-q="@Model.Q"
                               asp-route-sortColumn="ID"
                               asp-route-sortOrder="asc"
                               class="sort-icon">
                                <i class="fa-solid fa-angle-up"></i>
                            </a>
                            <a asp-page="/Customers/CustomerSearch"
                               asp-route-q="@Model.Q"
                               asp-route-sortColumn="ID"
                               asp-route-sortOrder="desc"
                               class="sort-icon">
                                <i class="fa-solid fa-angle-down"></i>
                            </a>
                        </div>
                    </th>

                    <th class="header">
                        <p class="header-text">
                            GivenName
                        </p>
                        <div class="header-sortingbuttons">
                            <a asp-page="/Customers/CustomerSearch"
                               asp-route-q="@Model.Q"
                               asp-route-sortColumn="Givenname"
                               asp-route-sortOrder="asc"
                               class="sort-icon">
                                <i class="fa-solid fa-angle-up"></i>
                            </a>
                            <a asp-page="/Customers/CustomerSearch"
                               asp-route-q="@Model.Q"
                               asp-route-sortColumn="Givenname"
                               asp-route-sortOrder="desc"
                               class="sort-icon">
                                <i class="fa-solid fa-angle-down"></i>
                            </a>
                            </div>
                    </th>


                    <th class="header">
                        <p class="header-text">
                            Surname
                        </p>
                        <div class="header-sortingbuttons">
                        <a asp-page="/Customers/CustomerSearch"
                           asp-route-q="@Model.Q"
                           asp-route-sortColumn="Surname"
                           asp-route-sortOrder="asc"
                           class="sort-icon">
                            <i class="fa-solid fa-angle-up"></i>
                        </a>
                        <a asp-page="/Customers/CustomerSearch"
                           asp-route-q="@Model.Q"
                           asp-route-sortColumn="Surname"
                           asp-route-sortOrder="desc"
                           class="sort-icon">
                            <i class="fa-solid fa-angle-down"></i>
                        </a>
                            </div>
                    </th>

                  
                    <th class="header">
                        <p class="header-text">
                            Gender
                        </p>
                        <div class="header-sortingbuttons">
                        <a asp-page="/Customers/CustomerSearch"
                           asp-route-q="@Model.Q"
                           asp-route-sortColumn="Gender"
                           asp-route-sortOrder="asc"
                           class="sort-icon">
                            <i class="fa-solid fa-angle-up"></i>
                        </a>
                        <a asp-page="/Customers/CustomerSearch"
                           asp-route-q="@Model.Q"
                           asp-route-sortColumn="Gender"
                           asp-route-sortOrder="desc"
                           class="sort-icon">
                            <i class="fa-solid fa-angle-down"></i>
                        </a>
                        </div>
                    </th>

                    <th class="header">
                        <p class="header-text">
                            Address
                        </p>
                        <div class="header-sortingbuttons">
                        <a asp-page="/Customers/CustomerSearch"
                           asp-route-q="@Model.Q"
                           asp-route-sortColumn="Address"
                           asp-route-sortOrder="asc"
                           class="sort-icon">
                            <i class="fa-solid fa-angle-up"></i>
                        </a>
                        <a asp-page="/Customers/CustomerSearch"
                           asp-route-q="@Model.Q"
                           asp-route-sortColumn="Address"
                           asp-route-sortOrder="desc"
                           class="sort-icon">
                            <i class="fa-solid fa-angle-down"></i>
                        </a>
                        </div>
                    </th>

                    <th class="header">
                        <p class="header-text">
                            City
                        </p>
                        <div class="header-sortingbuttons">
                        <a asp-page="/Customers/CustomerSearch"
                           asp-route-q="@Model.Q"
                           asp-route-sortColumn="City"
                           asp-route-sortOrder="asc"
                           class="sort-icon">
                            <i class="fa-solid fa-angle-up"></i>
                        </a>
                        <a asp-page="/Customers/CustomerSearch"
                           asp-route-q="@Model.Q"
                           asp-route-sortColumn="City"
                           asp-route-sortOrder="desc"
                           class="sort-icon">
                            <i class="fa-solid fa-angle-down"></i>
                        </a>
                        </div>
                    </th>

                    <th class="header">
                        <p class="header-text">
                            ZipCode
                        </p>
                        <div class="header-sortingbuttons">
                        <a asp-page="/Customers/CustomerSearch"
                           asp-route-q="@Model.Q"
                           asp-route-sortColumn="ZipCode"
                           asp-route-sortOrder="asc"
                           class="sort-icon">
                            <i class="fa-solid fa-angle-up"></i>
                        </a>
                        <a asp-page="/Customers/CustomerSearch"
                           asp-route-q="@Model.Q"
                           asp-route-sortColumn="ZipCode"
                           asp-route-sortOrder="desc"
                           class="sort-icon">
                            <i class="fa-solid fa-angle-down"></i>
                        </a>
                        </div>
                    </th>

                    <th class="header">
                        <p class="header-text">
                            Country
                        </p>
                        <div class="header-sortingbuttons">
                        <a asp-page="/Customers/CustomerSearch"
                           asp-route-q="@Model.Q"
                           asp-route-sortColumn="Country"
                           asp-route-sortOrder="asc"
                           class="sort-icon">
                            <i class="fa-solid fa-angle-up"></i>
                        </a>
                        <a asp-page="/Customers/CustomerSearch"
                           asp-route-q="@Model.Q"
                           asp-route-sortColumn="Country"
                           asp-route-sortOrder="desc"
                           class="sort-icon">
                            <i class="fa-solid fa-angle-down"></i>
                        </a>
                        </div>
                    </th>

                    <th class="header">
                        <p class="header-text">
                            Country Code
                        </p>
                        <div class="header-sortingbuttons">
                        <a asp-page="/Customers/CustomerSearch"
                           asp-route-q="@Model.Q"
                           asp-route-sortColumn="CountryCode"
                           asp-route-sortOrder="asc"
                           class="sort-icon">
                            <i class="fa-solid fa-angle-up"></i>
                        </a>
                        <a asp-page="/Customers/CustomerSearch"
                           asp-route-q="@Model.Q"
                           asp-route-sortColumn="CountryCode"
                           asp-route-sortOrder="desc"
                           class="sort-icon">
                            <i class="fa-solid fa-angle-down"></i>
                        </a>
                        </div>
                    </th>

                    <th class="header">
                        <p class="header-text">
                            NationalID
                        </p>
                        <div class="header-sortingbuttons">
                        <a asp-page="/Customers/CustomerSearch"
                           asp-route-q="@Model.Q"
                           asp-route-sortColumn="NationalID"
                           asp-route-sortOrder="asc"
                           class="sort-icon">
                            <i class="fa-solid fa-angle-up"></i>
                        </a>
                        <a asp-page="/Customers/CustomerSearch"
                           asp-route-q="@Model.Q"
                           asp-route-sortColumn="NationalID"
                           asp-route-sortOrder="desc"
                           class="sort-icon">
                            <i class="fa-solid fa-angle-down"></i>
                        </a>
                        </div>
                    </th>

                    <th class="header">
                        <p class="header-text">
                            Prefix
                        </p>
                        <div class="header-sortingbuttons">
                        <a asp-page="/Customers/CustomerSearch"
                           asp-route-q="@Model.Q"
                           asp-route-sortColumn="Prefix"
                           asp-route-sortOrder="asc"
                           class="sort-icon">
                            <i class="fa-solid fa-angle-up"></i>
                        </a>
                        <a asp-page="/Customers/CustomerSearch"
                           asp-route-q="@Model.Q"
                           asp-route-sortColumn="Prefix"
                           asp-route-sortOrder="desc"
                           class="sort-icon">
                            <i class="fa-solid fa-angle-down"></i>
                        </a>
                        </div>
                    </th>

                    <th class="header">
                        <p class="header-text">
                            Telephone
                        </p>
                        <div class="header-sortingbuttons">
                        <a asp-page="/Customers/CustomerSearch"
                           asp-route-q="@Model.Q"
                           asp-route-sortColumn="Telephone"
                           asp-route-sortOrder="asc"
                           class="sort-icon">
                            <i class="fa-solid fa-angle-up"></i>
                        </a>
                        <a asp-page="/Customers/CustomerSearch"
                           asp-route-q="@Model.Q"
                           asp-route-sortColumn="Telephone"
                           asp-route-sortOrder="desc"
                           class="sort-icon">
                            <i class="fa-solid fa-angle-down"></i>
                        </a>
                        </div>
                    </th>

                    <th class="header">
                        <p class="header-text">
                            Email
                        </p>
                        <div class="header-sortingbuttons">
                        <a asp-page="/Customers/CustomerSearch"
                           asp-route-q="@Model.Q"
                           asp-route-sortColumn="Email"
                           asp-route-sortOrder="asc"
                           class="sort-icon">
                            <i class="fa-solid fa-angle-up"></i>
                        </a>
                        <a asp-page="/Customers/CustomerSearch"
                           asp-route-q="@Model.Q"
                           asp-route-sortColumn="Email"
                           asp-route-sortOrder="desc"
                           class="sort-icon">
                            <i class="fa-solid fa-angle-down"></i>
                        </a>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
        @foreach (var customer in @Model.AllCustomers)
        {
                    <tr>

                        <td>@customer.CustomerId 
                            <a asp-page="/Customers/CustomerDetailView"
                               asp-route-customerId="@customer.CustomerId"
                               class="sort-icon">
                                <i class="fa-solid fa-user"></i>
                            </a>
                        
                        </td>

                        <td>@customer.Givenname</td>
                        <td>@customer.Surname</td>
                        <td>@customer.Gender</td>
                        <td>@customer.Streetaddress</td>
                        <td>@customer.City</td>
                        <td>@customer.Zipcode</td>
                        <td>@customer.Country</td>
                        <td>@customer.CountryCode</td>
                        <td>@customer.NationalId</td>
                        <td>@customer.Telephonecountrycode</td>
                        <td>@customer.Telephonenumber</td>
                        <td>@customer.Emailaddress</td>
                    </tr>
                   
                }
                <tr>
                    <td>
                        @if (Model.CurrentPage != 1)
                        {
                            <a class="btn btn-secondary"
                            asp-page="/Customers/CustomerSearch"
                            asp-route-sortColumn="@Model.SortColumn"
                            asp-route-sortOrder="@Model.SortOrder"
                            asp-route-pageNo="@(Model.CurrentPage-1)">
                                Prev
                            </a>
                        }
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <a class="btn btn-secondary"
                           asp-page="/Customers/CustomerSearch" 
                           asp-route-sortColumn="@Model.SortColumn"
                           asp-route-sortOrder="@Model.SortOrder"
                           asp-route-pageNo="@(Model.CurrentPage+1)">
                            Next
                        </a>
                    </td>

                </tr>

            </tbody>
        </table>
    </div>
}

else
{
    <p>inga kunder hittas.</p>
}
