@page
@model BankVictor.Pages.RichestCustomersByCountryModel
@{
}




<ul>
    @foreach(var customer in @Model.Customers){
    <li>
        @customer.Givenname
        @customer.Surname
        @customer.CountryCode
        @customer.BalanceCustomer
        @customer.Country
    </li>
    }
</ul>